# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Directorios de construcción
/dist
/build

# Archivos de configuración del IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp

# Archivos de respaldo
*.bak
*.backup

# Archivos de caché
.cache/
.npm/

# Archivos de cobertura de pruebas
coverage/

# Archivos de debug
debug/
.debug/

# Otros
*.pid
*.seed
*.pid.lock